/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}
/* границы ячеек первого ряда таблицы */
th {
    border: 1px solid grey;
    font-size: 250%;
}
/* границы ячеек тела таблицы */
td {
    border: 1px solid grey;
    font-size: 250%;
}
h1 {
    text-align: center;	
}